<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Distant.io 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



<ion-list>
  <ion-item>
    <ion-label>{{totalDistance}}</ion-label>
    <ion-icon slot="start" name="home-outline"></ion-icon>
    <ion-note slot="end" color="primary">Distancia a casa</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>1h</ion-label>
    <ion-icon slot="start" name="hourglass-outline"></ion-icon>
    <ion-note slot="end" color="primary">Tiempo para volver a casa</ion-note>
  </ion-item>
</ion-list>

<ion-button (click)="presentAlertConfirmGoingOut()" expand="block" color="success">Empezar salida</ion-button>

<ion-item>
  <ion-label class="ion-text-wrap">
    My Latitude: {{ currentLat }}
  </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-wrap">
    My Longitude: {{ currentLon }}
  </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-wrap">
    Home Latitude: {{ homeLat }}
  </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-wrap">
    Home Longitude: {{ homeLon }}
  </ion-label>
</ion-item>



</ion-content>
