<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Distant.io 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



<ion-list>
  <ion-item>
    <ion-label>Distancia a casa</ion-label>
    <ion-icon slot="start" name="home-outline"></ion-icon>
    <ion-note slot="end" color="primary">{{totalDistance}}</ion-note>
  </ion-item>

  <ion-item>
    <ion-label>Tiempo para volver a casa</ion-label>
    <ion-icon slot="start" name="hourglass-outline"></ion-icon>
    <ion-note slot="end" color="primary"> 1h </ion-note>
  </ion-item>
</ion-list>

<ion-button (click)="presentAlertConfirmGoingOut()" expand="block" color="success">Empezar salida</ion-button>

<ion-item>
  <ion-label class="ion-text-wrap">
    My Latitude: {{ lat }}
  </ion-label>
</ion-item>

<ion-item>
  <ion-label class="ion-text-wrap">
    My Longitude: {{ lon }}
  </ion-label>
</ion-item>



</ion-content>
